<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/update" method="post">
    <input type="hidden" name="id" th:value="${user.id}">
    年龄:<input type="text" name="name"  th:value="${user.name}"><br/>
    密码:<input type="password" name="password" th:value="${user.password}"><br/>
    时间:<input type="text" name="date" th:value="${user.date}"><br/>
    <input type="submit" value="修改"><br/>
</form>
</body>
</html>
</html>